.btn {text-transform: none !important;}


ul {
    list-style-type: square;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loaderContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: white;
    z-index: 100000;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    display: none;
}

.show {
    display: flex;
}

a.btn.btn-secondary.btn-lg {
  text-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.navbar-brand>img {
  width: 130px;
  border-radius: 1rem;
}